@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre:100,200,300,400,500,600,700|Alegreya+SC:100,200,300,400,500,600,700&display=swap');

header {
    margin:0;
}

.logo {
    background: url("../images/Wolf-stortle.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}